@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
.textArea {
    @apply bg-[rgba(0,0,0,0.03)] w-full h-[32px] py-0 px-[10px] inline text-[16px] font-normal float-left border-0 outline-0 shadow-inner shadow-[1px_1px_0px_rgba(0,0,0,0.05),1px_1px_0px_rgba(255,255,255,1)]
}

.bg-cut{
    z-index: -1;
    position: absolute;
    width: 50%;
    height: 42px;
    background: #fdfdfd;
    transform: perspective(5px) rotateX(1deg) translateZ(-1px);
    border-radius: 6px 6px 0 0;
    -webkit-transform-origin: 0 0;
    box-shadow: 15px -15px 30px rgba(0,0,0,0.32);
}
}
